@import 'tailwindcss';

@theme {
  --animate-gradient: gradient 8s linear infinite;

  --font-serif: Brother Signature, cursive;

  @keyframes gradient {
    to {
      background-position: 200% center;
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
  font-family: 'Brother Signature';
  src: url('/src/assets/fonts/BrotherSignature.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  min-height: 100vh;
}

body {
  /* height: 100vh; */
  --_mesh-gradient-blur: 50px;
  --_mesh-gradient-blend-mode: normal;

  /* background:
    radial-gradient(at 69% 16%, #594b88 0, transparent 50%),
    radial-gradient(at 7% 33%, #784b88 0, transparent 50%),
    radial-gradient(at 73% 50%, #884b7a 0, transparent 50%),
    radial-gradient(at 79% 52%, #7a884b 0, transparent 50%),
    radial-gradient(at 27% 95%, #4b8859 0, transparent 50%),
    radial-gradient(at 87% 94%, #4a266d 0, transparent 50%) #001138; */

  &:not(*) {
    mix-blend-mode: var(--_mesh-gradient-blend-mode);
    filter: blur(var(--_mesh-gradient-blur));
  }
}
